#header{
    width: 100vw;
    height: 12vh;
    background-color: aqua;
}
#menu{
    width: 25vw;
    height: 84vh;
    background-color: black;
    float: left;
}
#chat{
    width: 100vw;
    height: 84vh;
    background-color: rgb(94, 230, 135);
}
#foot{
    width: 100vw;
    height: 4vh;
    background-color: brown;
}