<div id="logger">

    <div class="head_content">
        <h1>Create Account!</h1><br>
        Click Here
        <a routerLink="/account/login"> Login</a>
    </div>
    <div class="ip_box">
        <input class="ip" type="email" placeholder="Enter the Email"   [(ngModel)]="email">
        <input class="ip" type="text" placeholder="Enter the username"[(ngModel)]="username">

        <div class="ip">
            <input id="pw1" class="sub" type="password" placeholder="Enter the password" [(ngModel)]="password1">
           <i id="icon1" class="fa-solid fa-eye" (click)="viewer(1)"></i>
        </div>

        <div class="ip">
            <input id="pw2" class="sub" type="password" placeholder="Enter the password" [(ngModel)]="password2">
           <i id="icon2" class="fa-solid fa-eye" (click)="viewer(2)"></i>
        </div>

        @if(msg){
            <input class="ip err" type="text" [(ngModel)]="msgText" [disabled]="msg">
        }
        <button class="ip" (click)="verify()" >Submit</button>
    </div>

</div>
